# Python byte compiled files
__pycache__/
*.pyc

# Checkpoint and model files
*.ckpt
*.h5

# Environment folder and files
.env/
venv_nesy_llm/

# Dataset folder
data/

# OS specific files
.DS_Store  # For macOS
Thumbs.db  # For Windows

# VS Code specific
.vscode/

# Other potential folders/files
*.log
*.egg-info/
dist/
build/
fine_tuned_T5/
wandb
