# Initial list of libraries required for the project and their versions 

# General Libraries
numpy
pandas
matplotlib
scipy  # Added this for the stats functionality

# Filesystem Libraries
fsspec>=0.9.0

# Deep Learning and NLP Libraries
transformers>=4.0.0
torch
tokenizers
tqdm
datasets
nltk>=3.5

# Evaluation Metrics
rouge
bert-score

# logging
wandb